
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  position: relative;
}

@layer components {
  .max-container {
    max-width: 1400px;
    margin: 0 auto;
  }
  .highlight {
    @apply transition-all duration-300;
  }
  
  .highlight:hover {
    @apply text-primary scale-110;
  }
}

@layer utilities {

  .padding {
    @apply sm:px-16 px-8 sm:py-10 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .h {
    @apply min-h-[80vh];
  }
}

.highlight {
  color: inherit; /* Ensures the text starts with the same color as the paragraph */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.highlight:hover {
  color: var(--text-primary); /* Apply your primary color variable */
  transform: scale(1.1); /* Slightly enlarge the text on hover */
}
